doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title PDFfiller
    meta(name="description" content="This is a task for PDFfiller")
    link(rel="stylesheet" href="./style.css")
    link(rel="shortcut icon" href="./icons/favicon.ico")
  body
    block body
    block footer
    script(src="./scripts/svg4everybody.js")
    script.
      svg4everybody()
    script(src="./scripts/focus-within-polyfill.js")
